input[type=text],
input[type=email],
input[type=tel],
input[type=number],
select,
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
}

input[type=submit] {
    background-color: #003B6D;
    color: white;
    border-radius: 50px;
    padding: 20px 200px;
}

label {
    color: #003B6D;
    font-weight: bold;
}